.nui-wrapper {
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

pre {
  counter-reset:line-numbering;
  background: transparent;
  padding:12px 0px 14px 0;
  color:#ecf0f1;
  line-height:140%;
}

.popup-thing {
  background: transparent;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
